@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/*##############################################################
RESET
##############################################################*/

html,
body,
header,
nav,
ul,
main,
section,
article,
aside,
footer,
figure,
h1,
h2,
h3,
h4,
h5,
div,
a,
p {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: 100;
}

/************************
Evita añadir el borde o padding al width
*************************/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*##############################################################
VARIABLES
##############################################################*/
:root {
	--primary-color: #47828f;
	--secondary-color: #e8f0f1;
	--tertiary-color: #1a1a1a;
	--quaternary-color: #514b33;
	--dark-color: black;
	--light-color: white;
	--valid-color: #005200;
	--invalid-color: #8d1a11;
	--danger-color: #750000;
	--danger-color-hover: #a80000;
	--accept-color: #1f1fff;
	--accept-color-hover: #0000d1;
	--bg-light-color: #f8f9f9;
	--bg-valid-color: #e3fae3;
	--font-family-primary: "Roboto", sans-serif;
	--font-family-secondary: "Montserrat", sans-serif;
	/*
     El ancho de la pantalla completo es el 100% del 
     ancho del viewport menos la barra de scroll.
     width:100% es el ancho de la pantalla menos las barras de scroll
     width:100wv es el ancho de la pantalla incluyendo las barras de scroll
     */
	--full-width: calc(100vw - (100vw - 100%));
}

/*##############################################################
GENERAL
##############################################################*/

html {
	font-size: 0.625rem;
	font-family: var(--font-family-primary);
}

a {
	text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
	color: var(--dark-color);
}

ul {
	list-style-type: none;
}

strong {
	font-weight: bold;
}

.h-40 {
	height: 4rem;
}

.h-60 {
	height: 6rem;
}

.w-24 {
	width: 2.4rem;
}

.w-40 {
	width: 4rem;
}

.w-80 {
	width: 8rem;
}

/*##############################################################
ICONOS
##############################################################*/

.icon {
	display: block;
}

.icon-temperature {
	background: center/contain no-repeat url("../icons/icon-temperature.svg");
}

.icon-clock {
	background: center/contain no-repeat url("../icons/icon-clock.svg");
}

.icon-gust {
	background: center/contain no-repeat url("../icons/icon-gust.svg");
}

.icon-rain {
	background: center/contain no-repeat url("../icons/icon-rain.svg");
}

.icon-wind {
	background: center/contain no-repeat url("../icons/icon-wind.svg");
}

.icon-cloudy {
	background: center/contain no-repeat url("../icons/icon-cloudy.svg");
}

.icon-gust {
	background: center/contain no-repeat url("../icons/icon-gust.svg");
}

.icon-heavy-rain {
	background: center/contain no-repeat url("../icons/icon-heavy-rain.svg");
}

.icon-overcast {
	background: center/contain no-repeat url("../icons/icon-overcast.svg");
}

.icon-showers {
	background: center/contain no-repeat url("../icons/icon-showers.svg");
}

.icon-sunny {
	background: center/contain no-repeat url("../icons/icon-sunny.svg");
}

.icon-sunny-to-cloudy {
	background: center/contain no-repeat url("../icons/icon-sunny-to-cloudy.svg");
}

/*##############################################################
CONTENEDOR
##############################################################*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.body-wrapper {
	display: grid;
	grid-template-columns: 100vw;

	grid-template-rows: 28.6rem minmax(calc(100vh - 43.1rem), 1fr) 16rem;
	grid-template-areas:
		"header "
		"main"
		"footer";
}

/*##############################################################
HEADER
##############################################################*/
header {
	grid-area: header;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header .header-login {
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

header .header-login a {
	background-color: var(--primary-color);
	color: var(--light-color);
	padding: 0.5rem 2rem;
	font-size: 1.4rem;
}

header .header-login a:hover {
	color: var(--tertiary-color);
}

header .header-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
	background-color: var(--secondary-color);
}

header .header-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	gap: 0.5rem;
}

header .logo {
	width: 13rem;
}

h1 {
	font-weight: 900;
	font-size: 3rem;
	color: var(--primary-color);
}

header .header-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header .header-nav nav ul {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	padding: 1rem;
}

header .header-nav nav ul a {
	color: var(--primary-color);
	padding: 1rem;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}
header .header-nav nav ul a:hover {
	color: var(--tertiary-color);
}

/*##############################################################
MAIN
##############################################################*/
main {
	grid-area: main;
}

/*##############################################################
SECTION I-H
##############################################################*/

section.section-i-h {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	border: 2px solid var(--secondary-color);
}

section.section-i-h h2 {
	font-size: 2rem;
	color: var(--primary-color);
}

section.section-i-h .featured-i-h {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

section.section-i-h .featured-i-h figure {
	height: 30rem;
	width: 30rem;
}

section.section-i-h .featured-i-h figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	/* fill contain cover none scale-down*/
}

/*##############################################################
SECTION I-B
##############################################################*/
section.section-i-b {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	border: 2px solid var(--secondary-color);
}

section.section-i-b h2 {
	font-size: 1.7rem;
	color: var(--primary-color);
}
section.section-i-b h3 {
	font-size: 1.5rem;
	color: var(--tertiary-color);
}

section.section-i-b .featured-i-b {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

section.section-i-b .featured-i-b article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

section.section-i-b .featured-i-b figure {
	height: 17rem;
	width: 30rem;
}

section.section-i-b .featured-i-b figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	/* fill contain cover none scale-down*/
}
/*##############################################################
FOOTER
##############################################################*/
footer.footer {
	grid-area: footer;
	background-color: black;
}

/*##############################################################
MEDIA QUERY
##############################################################*/

@media only screen and (min-width: 768px) {
	/*##############################################################
	CONTENEDOR
	##############################################################*/
	.body-wrapper {
		grid-template-rows: 24.1rem minmax(calc(100vh - 40.1rem), 1fr) 16rem;
	}

	/*##############################################################
	HEADER
	##############################################################*/

	header .header-logo {
		flex-direction: row;
		justify-content: flex-start;
		padding: 0 2rem;
		gap: 4rem;
		width: 75vw;
	}

	h1 {
		font-size: 4rem;
	}

	header .logo {
		width: 15rem;
	}

	header .header-login {
		width: 75vw;
		padding: 0 2rem;
	}

	header .header-login a {
		background-color: var(--primary-color);
		color: var(--light-color);
		/* padding: 0.5rem 2rem; */
		font-size: 2rem;
	}

	header .header-nav {
		width: 100%;
	}

	nav {
		width: 75vw;
		padding: 0 2rem;
	}

	header .header-nav nav ul {
		justify-content: flex-end;
	}

	header .header-nav nav ul a {
		padding: 4rem;
	}

	/*##############################################################
	SECTION I-H
	##############################################################*/

	section.section-i-h .featured-i-h {
		flex-direction: row;
		gap: 3rem;
	}

	section.section-i-h .featured-i-h figure {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 30vw;
		max-height: 30vw;
	}

	/* section.section-i-h .featured-i-h figure img {
		width: 80%;
		height: auto;
	} */

	/*##############################################################
	SECTION I-B
	##############################################################*/

	section.section-i-b h3 {
		font-size: 2rem;
		font-weight: 700;
		color: var(--tertiary-color);
	}

	section.section-i-b .featured-i-b article {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		gap: 5rem;
		padding: 2rem 2rem 2rem 1rem;
		background-color: var(--secondary-color);
		min-width: 75vw;
	}

	section.section-i-b .featured-i-b article div {
		width: 38.5rem;
	}
}
