@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/*##############################################################
RESET
##############################################################*/

html,
body,
header,
nav,
ul,
main,
section,
article,
aside,
footer,
figure,
fieldset,
h1,
h2,
h3,
h4,
h5,
div,
a,
p {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: 100;
}

/************************
Evita añadir el borde o padding al width
*************************/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*##############################################################
VARIABLES
##############################################################*/
:root {
	--primary-color: #47828f;
	--secondary-color: #e8f0f1;
	--tertiary-color: #1a1a1a;
	--quaternary-color: #4cb3ed;
	--dark-color: black;
	--light-color: white;
	--confirm-color: #1f1fff;
	--confirm-color-hover: #0000d1;
	--invalid-color: #cf0606;
	--valid-color: #058005;

	--font-family-primary: "Roboto", sans-serif;

	--bg-light-color: #f8f9f9;
	--bg-valid-color: #e3fae3;

	--font-family-secondary: "Montserrat", sans-serif;
	/*
     El ancho de la pantalla completo es el 100% del 
     ancho del viewport menos la barra de scroll.
     width:100% es el ancho de la pantalla menos las barras de scroll
     width:100wv es el ancho de la pantalla incluyendo las barras de scroll
     */
	--full-width: calc(100vw - (100vw - 100%));
}

/*##############################################################
GENERAL
##############################################################*/

html {
	font-size: 0.625rem;
	font-family: var(--font-family-primary);
}

a {
	text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
	color: var(--dark-color);
}

ul {
	list-style-type: none;
}

strong {
	font-weight: bold;
}
/*
.h-40 {
	height: 4rem;
}

.h-60 {
	height: 6rem;
}

.w-24 {
	width: 2.4rem;
}

.w-40 {
	width: 4rem;
}

.w-80 {
	width: 8rem;
}
*/

/*##############################################################
ICONOS
##############################################################*/

/*
.icon {
	display: block;
}

.icon-temperature {
	background: center/contain no-repeat url("../icons/icon-temperature.svg");
}

.icon-clock {
	background: center/contain no-repeat url("../icons/icon-clock.svg");
}

.icon-gust {
	background: center/contain no-repeat url("../icons/icon-gust.svg");
}

.icon-rain {
	background: center/contain no-repeat url("../icons/icon-rain.svg");
}

.icon-wind {
	background: center/contain no-repeat url("../icons/icon-wind.svg");
}

.icon-cloudy {
	background: center/contain no-repeat url("../icons/icon-cloudy.svg");
}

.icon-gust {
	background: center/contain no-repeat url("../icons/icon-gust.svg");
}

.icon-heavy-rain {
	background: center/contain no-repeat url("../icons/icon-heavy-rain.svg");
}

.icon-overcast {
	background: center/contain no-repeat url("../icons/icon-overcast.svg");
}

.icon-showers {
	background: center/contain no-repeat url("../icons/icon-showers.svg");
}

.icon-sunny {
	background: center/contain no-repeat url("../icons/icon-sunny.svg");
}

.icon-sunny-to-cloudy {
	background: center/contain no-repeat url("../icons/icon-sunny-to-cloudy.svg");
}
*/

/*##############################################################
ESPECÍFICO DE ESTA HOJA DE ESTILOS
##############################################################*/
.link-btn {
	background-color: var(--primary-color);
	font-size: 1.8rem;
}

.link-btn:hover {
	background-color: var(--confirm-color);
}

.fz25 {
	font-size: 2.5rem;
}

/*##############################################################
CONTENEDOR
##############################################################*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.body-wrapper {
	display: grid;
	grid-template-columns: 100vw;

	grid-template-rows: 28.6rem minmax(calc(100vh - 34.6rem), 1fr) 6rem;
	grid-template-areas:
		"header "
		"main"
		"footer";

	background-color: var(--secondary-color);
}

/*##############################################################
HEADER
##############################################################*/
header {
	grid-area: header;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header .header-login {
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

header .header-login a {
	padding: 0.5rem 2rem;
	color: var(--light-color);
}

header .header-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
}

header .header-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	gap: 0.5rem;
}

header .logo {
	width: 13rem;
}

h1 {
	font-weight: 900;
	font-size: 3rem;
	color: var(--primary-color);
}

header .header-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--light-color);
	width: 100%;
	padding: 1rem;
}

header .header-nav nav ul {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	/* padding: 1rem; */
}

header .header-nav nav ul a {
	color: var(--primary-color);
	padding: 0 1rem;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}
header .header-nav nav ul a:hover {
	color: var(--tertiary-color);
}

/*##############################################################
MAIN
##############################################################*/
main {
	grid-area: main;
	background-color: var(--light-color);
}

/*##############################################################
SECTION
##############################################################*/
section {
	border-top: 2px solid var(--secondary-color);
}

h2 {
	font-size: 1.7rem;
	color: var(--primary-color);
}

/*##############################################################
SECTION I-H
##############################################################*/

section.section-i-h {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
}

section.section-i-h h2 {
	font-size: 2rem;
}

section.section-i-h .featured-i-h {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

section.section-i-h .featured-i-h figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 30rem;
	width: 30rem;
	overflow: hidden;
}

section.section-i-h .featured-i-h.one > *:nth-child(n + 2) {
	display: none;
}

section.section-i-h .featured-i-h figure a {
	width: 100%;
	height: 100%;
}

section.section-i-h .featured-i-h figure a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.7s;

	/* fill contain cover none scale-down*/
}

section.section-i-h .featured-i-h figure a img:hover {
	transform: scale(1.2);
}

/*##############################################################
SECTION EVENT LIST
##############################################################*/
section.event-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
}

section.event-list h3 {
	font-size: 1.5rem;
	color: var(--tertiary-color);
}

section.event-list .event-list-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

section.event-list .event-list-content article {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

section.event-list .event-list-content figure {
	height: 17rem;
	width: 30rem;
	overflow: hidden;
}

section.event-list .event-list-content figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.7s;
}

section.event-list .event-list-content figure img:hover {
	transform: scale(1.2);
}

/*##############################################################
SECTION EVENT PROMOTION
##############################################################*/
section.event-promotion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
}

section.event-promotion p {
	font-size: 1.6rem;
	line-height: 2.5rem;
	padding: 0.5rem 2rem;
	text-align: justify;
	text-justify: inter-word;
}

section.event-promotion > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-color: var(--secondary-color);
	width: 100%;
	padding: 4rem 2rem 2rem;
}

section.event-promotion a {
	padding: 1.5rem 2rem;
	align-self: flex-end;
	color: var(--light-color);
}

/*##############################################################
SECTION EVENT X
##############################################################*/
.one > *:nth-child(n + 2) {
	display: none;
}

section.event-x {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
}

section.event-x article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	padding: 2rem;
}

section.event-x article figure {
	width: 100%;
	height: 50rem;
}

section.event-x article figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section.event-x article > div {
	background-color: var(--secondary-color);
	padding: 2rem 1rem;
}

section.event-x article p {
	font-size: 1.6rem;
	line-height: 2.5rem;
	padding: 0.5rem 2rem;
	text-align: justify;
	text-justify: inter-word;
}

section.event-x h2 {
	font-size: 2.5rem;
	text-align: center;
}

/*##############################################################
FORMS
##############################################################*/
section.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
}

section.form form {
	width: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 1rem 1rem 2rem;
	border: 2px solid var(--secondary-color);
	background-color: var(--light-color);
}

section.form form div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	padding: 1rem;
	gap: 1rem;
}

section.form form fieldset {
	width: 100%;
}

section.form form label {
	font-size: 1.7rem;
	color: var(--primary-color);
	padding: 0.5rem;
	width: 100%;
}

section.form form input {
	font-size: 1.8rem;
	border: none;
	border-bottom: 1px solid var(--tertiary-color);
	background-color: var(--light-color);
	padding: 1rem;
	width: 100%;
}

section.form form input:focus {
	background-color: var(--secondary-color);
	outline: none;
}

section.form form textarea {
	resize: none;
	color: var(--dark-color);
	font-size: 1.8rem;
}

section.form form textarea:focus {
	outline: none;
	background-color: var(--secondary-color);
}

section.form form select#cities-id {
	font-size: 1.8rem;
	padding: 1rem;
	border: none;
	border-bottom: 1px solid var(--tertiary-color);
	background-color: var(--secnondary-color);
	width: 100%;
}

section.form form input ~ span,
section.form form textarea ~ span {
	color: var(--light-color);
	padding: 0.5rem;
	text-align: right;
	font-size: 1.4rem;
}

.input-valid {
	background-color: var(--valid-color);
}

.input-invalid {
	background-color: var(--invalid-color);
}

section.form form .submit-block {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

section.form form input[type="submit"],
section.form form .submit-block a {
	padding: 1rem 1.5rem;
	font-size: 1.8rem;
	cursor: pointer;
	color: var(--light-color);
	background-color: var(--primary-color);
	border: none;
}

section.form form input[type="submit"]:hover {
	background-color: var(--confirm-color);
}

/*##############################################################
SECTION FORM SEARCH
##############################################################*/

section.form form.search {
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 1rem;
	gap: 1rem;
	background-color: var(--secondary-color);
}

section.form form.search div {
	align-items: center;
	padding: 0.5rem;
}

section.form form.search label {
	font-size: 1.2rem;
}

section.form form.search input[type="submit"] {
	padding: 1rem 1.5rem;
	cursor: pointer;
	color: var(--light-color);
}

section.form form.search select#cities-id {
	width: 17rem;
}

/**********debug***********************************************************/
span {
	display: none;
}

/*##############################################################
FOOTER
##############################################################*/
footer.footer {
	grid-area: footer;
	background-color: black;

	display: flex;
	justify-content: center;
	align-items: center;
}

footer address {
	color: var(--light-color);
	font-size: 1.5rem;
}

/*##############################################################
MEDIA QUERY
##############################################################*/

@media only screen and (min-width: 768px) {
	/*##############################################################
	MAX WITDH DESKTOP
	##############################################################*/
	.max-width-desktop {
		max-width: 102.4rem;
	}

	/*##############################################################
	CONTENEDOR
	##############################################################*/
	.body-wrapper {
		grid-template-rows: 26.1rem minmax(calc(100vh - 32.1rem), 1fr) 6rem;
	}

	/*##############################################################
	HEADER
	##############################################################*/

	header .header-logo {
		flex-direction: row;
		justify-content: flex-start;
		padding: 0 2rem;
		gap: 4rem;
		width: 100%;
	}

	h1 {
		font-size: 4rem;
	}

	header .logo {
		width: 15rem;
	}

	header .header-login {
		padding: 2rem 0 0;
		width: 100%;
	}

	header .header-login a {
		background-color: var(--primary-color);
		color: var(--light-color);
		font-size: 2rem;
	}

	header .header-nav {
		width: 100%;
	}

	nav {
		width: 100%;
	}

	header .header-nav nav ul {
		justify-content: flex-end;
	}

	header .header-nav nav ul a {
		padding: 0 4rem;
	}

	/*##############################################################
	SECTION I-H
	##############################################################*/

	section.section-i-h .featured-i-h {
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;

		width: 100%;
	}

	section.section-i-h .featured-i-h figure {
		max-width: 30vw;
		max-height: 30vw;
	}

	section.section-i-h .featured-i-h.one > *:nth-child(n + 2) {
		display: flex;
	}

	/*##############################################################
	SECTION I-B
	##############################################################*/

	section.event-list .event-list-content {
		width: 100%;
	}

	section.event-list h3 {
		font-size: 2rem;
		font-weight: 700;
		color: var(--tertiary-color);
	}

	section.event-list .event-list-content article {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;
		align-items: center;
		gap: 5rem;
		padding: 2rem 2rem 2rem 1rem;
		background-color: var(--secondary-color);
		width: 100%;
	}

	section.event-list .event-list-content article div {
		width: 38.5rem;
	}

	/*##############################################################
	SECTION FORM
	##############################################################*/

	section.form form {
		width: 100%;
	}

	select#cities-id {
		min-width: 45rem;
	}

	section.form form input[type="submit"] {
		font-size: 2rem;
	}
	/*##############################################################
	SECTION EVENT PROMOTION
	##############################################################*/

	section.event-promotion a {
		font-size: 2rem;
	}

	/*##############################################################
	SECTION EVENT X
	##############################################################*/

	section.event-x h2 {
		font-size: 3rem;
	}

	section.event-x article {
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		gap: 1rem;
		/* height: 54.4rem; */
		padding: 0;
	}

	section.event-x article figure {
		width: 60%;
	}

	section.event-x article > div {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: stretch;
		padding: 0rem 3rem;
		max-height: 50rem;
		width: 40%;

		/* max-height: 50rem; */
		/* border: 1px solid red; */
	}

	section.event-x article p {
		font-size: 1.8rem;
		line-height: 2.5rem;
		padding: 0;
		/* text-align: justify;
		text-justify: inter-word; */
	}

	/*##############################################################
	SECTION FORM LOGIN
	##############################################################*/

	section.form form#form-login {
		max-width: 50rem;
	}
}
